[Unit]
Description=Print hello world at boot
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/hello-world.sh
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
